<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isao.twoactivities2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListViewActivity"
            android:label="@string/title_activity_listview"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.RecyclerViewActivity"
            android:label="@string/title_activity_recyclerview"
            android:launchMode="standard"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.PictureViewActivity"
            android:label="@string/title_activity_pictureview"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.GoogleActivity"
            android:label="@string/title_activity_google">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="plus.google.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GithubActivity"
            android:label="@string/title_activity_github">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.HeadsetIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddContactActivity"
            android:label="New contact"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
    </application>

</manifest>